body {
    background-color: #f0ffff;
}

.container {
    text-align: center;
}

h1 {
    color: black;
    font-family: cursive;
    font-weight: bold;
    line-height: 1;
}

#indexh1 {
    font-size: 72px;
}

#codeh1 {
    font-size: 35px;
    text-align: center;
}

#start {
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

#start:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

#timer {
    line-height: 90%
}

/* ハンバーガーメニューcss */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

/*humane style*/
html,
body {
    min-height: 100%;
}

.humane,
.humane-libnotify {
    position: fixed;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 100000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.humane,
.humane-libnotify {
    font-family: Ubuntu, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    top: 10px;
    right: 10px;
    opacity: 0;
    width: 150px;
    color: #fff;
    padding: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABQCAYAAADYxx/bAAAABmJLR0QA/wD/AP+gvaeTAAAANElEQVQYlWNgYGB4ysTAwMDAxMjICCUQXDQWAwMDAxMTExMedcRyB6d5CAMQ5hGrjSrmAQBQdgIXlosSTwAAAABJRU5ErkJggg==');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.9)), color-stop(1, rgba(50, 50, 50, 0.9))) no-repeat;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%) no-repeat;
    background: linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%) no-repeat;
    *background-color: #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 4px -4px #000;
    box-shadow: 0 4px 4px -4px #000;
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
}

.humane p,
.humane-libnotify p,
.humane ul,
.humane-libnotify ul {
    margin: 0;
    padding: 0;
}

.humane ul,
.humane-libnotify ul {
    list-style: none;
}

.humane.humane-libnotify-info,
.humane-libnotify.humane-libnotify-info {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABQCAYAAADYxx/bAAAABmJLR0QA/wD/AP+gvaeTAAAAMUlEQVQYlWNgYDB6ysTAwMDAxMDACCcYUFkMDEwMDEwMBNVhkxg65jGhmke6M6hgHgBSdgHnpZwADwAAAABJRU5ErkJggg==');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 50, 0.9)), color-stop(1, rgba(0, 0, 100, 0.9))) no-repeat;
    background: -moz-linear-gradient(top, rgba(0, 0, 50, 0.9) 0%, rgba(0, 0, 100, 0.9) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 50, 0.9) 0%, rgba(0, 0, 100, 0.9) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 50, 0.9) 0%, rgba(0, 0, 100, 0.9) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 50, 0.9) 0%, rgba(0, 0, 100, 0.9) 100%) no-repeat;
    background: linear-gradient(top, rgba(0, 0, 50, 0.9) 0%, rgba(0, 0, 100, 0.9) 100%) no-repeat;
    *background-color: #030;
}

.humane.humane-libnotify-success,
.humane-libnotify.humane-libnotify-success {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABQCAYAAADYxx/bAAAABmJLR0QA/wD/AP+gvaeTAAAAMUlEQVQYlWNgMGJ4ysTAwMDAxMAIJxhQWQwMDEwMTKgS2NRhkxg65jGhmke6M6hhHgBS2QHn2LzhygAAAABJRU5ErkJggg==');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 50, 0, 0.9)), color-stop(1, rgba(0, 100, 0, 0.9))) no-repeat;
    background: -moz-linear-gradient(top, rgba(0, 50, 0, 0.9) 0%, rgba(0, 100, 0, 0.9) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 50, 0, 0.9) 0%, rgba(0, 100, 0, 0.9) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 50, 0, 0.9) 0%, rgba(0, 100, 0, 0.9) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0, 50, 0, 0.9) 0%, rgba(0, 100, 0, 0.9) 100%) no-repeat;
    background: linear-gradient(top, rgba(0, 50, 0, 0.9) 0%, rgba(0, 100, 0, 0.9) 100%) no-repeat;
    *background-color: #030;
}

.humane.humane-libnotify-error,
.humane-libnotify.humane-libnotify-error {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAAPklEQVQokWMwYmB4ysTAwMCATjASFsOmBBvBRJ7x+O0g0wCS7CDTH/RwH7X9MVDuwyaG032D2M2UeIYO7gMAqt8C19Bn7+YAAAAASUVORK5CYII=');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(50, 0, 0, 0.9)), color-stop(1, rgba(100, 0, 0, 0.9))) no-repeat;
    background: -moz-linear-gradient(top, rgba(50, 0, 0, 0.9) 0%, rgba(100, 0, 0, 0.9) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(50, 0, 0, 0.9) 0%, rgba(100, 0, 0, 0.9) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(50, 0, 0, 0.9) 0%, rgba(100, 0, 0, 0.9) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(50, 0, 0, 0.9) 0%, rgba(100, 0, 0, 0.9) 100%) no-repeat;
    background: linear-gradient(top, rgba(50, 0, 0, 0.9) 0%, rgba(100, 0, 0, 0.9) 100%) no-repeat;
    *background-color: #300;
}

.humane.humane-animate,
.humane-libnotify.humane-libnotify-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.humane.humane-animate:hover,
.humane-libnotify.humane-libnotify-animate:hover {
    opacity: 0.2;
}

.humane.humane-animate,
.humane-libnotify.humane-libnotify-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.humane.humane-animate:hover,
.humane-libnotify.humane-libnotify-js-animate:hover {
    opacity: 0.2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}