<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>Swap Coder</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--ACEエディタCDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/theme-monokai.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ext-options.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-c_cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-golang.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-rust.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-swift.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-objectivec.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-kotlin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-scala.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-ruby.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/mode-typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ext-language_tools.min.js"></script>

    <script src="/js/func.js"></script>
    <script src="/js/easytimer.js"></script>
    <script src="/js/humane.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1 id="codeh1">Swap Coder</h1>
    <!--言語入門サイトのリンク-->
    <div id="hatena">
        <a href="http://wisdom.sakura.ne.jp/programming/c/index.html" target="_blank" rel="noopener noreferrer"><img src="/img/hatena.png" alt="C入門サイト" title="C入門サイトへ(別タブで開きます)"></a>
    </div>
    <table>
        <tr>
            <td>
                <!--タイマー-->
                <div id="timer">
                    <div id="swap">
                        <p>コード交換まで</p>
                        <div class="countdown">
                            <div id="swapTime">00:01:00</div>
                        </div>
                    </div>
                    <p>ゲーム終了まで</p>
                    <div class="countdown">
                        <div id="limitTime">01:00:00</div>
                    </div>
                </div>
            </td>
            <td>
                <!--サーバから問題文のテキストを受信して表示する-->
                <div id="question">
                    <h3 style="color: #E65F5C">課題</h2>
                        <!--ここにサーバから受信した課題文を表示-->
                        <div id="problemStatement"></div>
                </div>
            </td>
        </tr>
    </table>
    <table height=320px>
        <tr>
            <td>
                <div id="member">
                    <p>===メンバー===</p>
                </div>
                <input type=button onclick="start()" value="START" id="start">
                <!--<input type=button onclick="end()" value="END" id="end">-->
            </td>
            <td width=400px height=320px bgcolor=white>
                <p>input</p>
                <textarea height=100px id="input" bgcolor=gray></textarea>
                <p>output ※言語によっては実行に4秒以上かかります。</p>
                <div style="white-space: pre-line" height=220px id="output" bgcolor=gray></div>
            </td>
            <td width=600px>
                <div id="editor" style="height: 320px"></div>
                <div align=right>
                    <select name="language">
                        <!--コンパイル言語-->
                        <option value="c_cpp">C</option>
                        <option value="c_cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="golang">Go</option>
                        <option value="rust">Rust</option>
                        <option value="swift">Swift</option>
                        <option value="objectivec">Objective-C</option>
                        <option value="kotlin">Kotlin</option>
                        <option value="scala">Scala</option>
                        <!--インタプリタ言語-->
                        <option value="python">Python</option>
                        <option value="ruby">Ruby</option>
                        <option value="php">PHP</option>
                        <option value="javascript">Java Script</option>
                        <option value="typescript">Type Script</option>
                    </select>
                    <input type=button onclick="run()" value="RUN">
                    <input type=button onclick="submit()" value="SUBMIT">
                </div>
            </td>
        </tr>
    </table>


    <script type="text/javascript">
        // 問題文・交換タイマー非表示
        $("#question").hide();
        $("#swap").hide();

        // aceエディター設定
        const editor = ace.edit('editor');
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        // 入門サイトリンクURL
        const link = ["http://wisdom.sakura.ne.jp/programming/c/index.html", "http://wisdom.sakura.ne.jp/programming/cpp/", "https://www.javadrive.jp/start/", "https://www.tohoho-web.com/ex/golang.html", "https://www.tohoho-web.com/ex/rust.html#hello-world", "https://softmoco.com/swift-basics/", "http://wisdom.sakura.ne.jp/programming/objc/index.html", "https://www.tohoho-web.com/ex/kotlin.html", "https://www.tohoho-web.com/ex/scala.html", "https://www.tohoho-web.com/python/", "https://www.javadrive.jp/ruby/", "https://www.javadrive.jp/php/", "https://www.javadrive.jp/javascript/", "https://www.tohoho-web.com/ex/typescript.html"];
        let temps; // 言語別コードテンプレート格納変数

        // 言語選択によるaceエディタ言語変更処理
        const select = document.querySelector('[name="language"]');

        // エディター設定変更関数
        function setEditor(){
            editor.getSession().setMode("ace/mode/" + select.value);
            editor.setValue(temps[select.selectedIndex]);
            // 入門サイトリンク対応処理
            $('#hatena').html('<a href="' + link[select.selectedIndex].toString() + '" target="_blank" rel="noopener noreferrer"><img src="/img/hatena.png" alt="' + select.options[select.selectedIndex].text + '入門サイト" title="'+ select.options[select.selectedIndex].text +'入門サイトへ(別タブで開きます)"></a>');
        };

        select.onchange = event => {
            setEditor();
        };

        // コード実行
        async function run() {
            const code = editor.getValue();
            const input = document.getElementById("input").value;

            let result = await compile(code, select.selectedIndex, input);
            $('#output').text(result);
        };

        // ソケット通信
        const socket = io("/play");
        let myData; // 自分の名前,id,socketId,言語,codeを保持
        let question; // 課題情報格納変数

        // aceエディタ言語設定処理
        function lang_selectOrChange(num) {
            myData.lang = num;
            let option = document.querySelectorAll('select[name=language] option');
            for (let i = 0; i < select.childElementCount; i++) {
                if (num == i) {
                    option[i].selected = true;
                } else {
                    option[i].disabled = true;
                }
            }
        };

        // ソケット接続時処理、既に参加しているメンバーの表示(自分も含む)
        socket.on("server_to_client_member", function (data) {
            for (const member of data) {
                $("#member").append("<div>" + member.name + "</div>");
            };
            myData = data[data.length - 1];
        });

        // 言語別コードテンプレート取得
        socket.on("server_to_client_template", function (data) {
            temps = data;
            editor.setValue(temps[0]); // デフォルト、C言語テンプレート
        });

        // 参加メンバーの逐次表示イベント
        socket.on("server_to_broadcast_join", function (data) {
            $("#member").append("<div>" + data.name + "</div>");
        });

        // 課題受信
        socket.on("server_to_client_question", function (data) {
            question = data;
        });

        // スタートボタンクリック時処理
        function start() {
            socket.emit("client_to_server_start");
        };
        // エンドボタンクリック時処理
        /*function end() {
            socket.emit("client_to_server_end", myData.id);
        };*/

        // サーバから全クライアントにゲームスタートイベント
        socket.on("server_to_everybody_start", function () {
            lang_selectOrChange(select.selectedIndex);
            let start_element = document.getElementById("start");
            start_element.remove();
            // htmlに課題表示
            $("#problemStatement").append("<b>" + question.task + "</b>");
            $("#question").show();
            // ゲームタイマースタート
            timeLimitStart();
        });

        // 課題プログラム提出関数
        async function submit() {
            myData.code = editor.getValue();

            const result = await judge(myData.code, myData.lang, question);
            if (result == 1) {
                // 課題クリア
                const clearData = {
                    socketId: myData.socketId,
                    name: myData.name,
                    code: myData.code,
                    lang: myData.lang,
                    question: question.task
                }
                socket.emit("client_to_server_clear", clearData);
                humane.log("課題をクリアしました！")
                // alert("課題をクリアしました!");
            } else {
                // 課題ノークリア
                alert("課題をクリアしていません。");
            }
        };

        // サーバ->クライアント、クリア後の新しい課題情報受信
        socket.on("server_to_client_clear", function (data) {
            $("#problemStatement").html("<b>" + question.task + "</b>"); // 新しい課題
            // 言語設定
            lang_selectOrChange(data);
            setEditor();
            editor.setValue(temps[data]);
        });

        // サーバ->ブロードキャスト、クリア受信
        socket.on("server_to_broadcast_clear", function (data) {
            humane.log(data + "さんが課題をクリアしました。1分後にコード・課題交換が行われます。");
            // alert(data + "さんが課題をクリアしました。1分後にコード・課題交換が行われます。");
        });

        // サーバ->全員、交換準備タイマースタート受信
        socket.on("server_to_everybody_preparationTime", () => {
            // 課題・コード交換までの準備タイマースタート
            $("#swap").show();
            swapTimerStart();
        })

        // コード・課題交換受信
        socket.on("server_to_everybody_swapTime", function () {
            myData.code = editor.getValue();
            const swapData = { 'myData': myData, 'question': question };
            socket.emit("client_to_server_swapData", swapData);
        });

        // 他ユーザのコード・課題受信,差し替え
        socket.on("server_to_client_swap", function (data) {
            lang_selectOrChange(data.myData.lang);
            setEditor();
            // $('#hatena').html('<a href="' + link[data.myData.lang].toString() + '" target="_blank" rel="noopener noreferrer"><img src="/img/hatena.png" alt="' + select.options[data.myData.lang].text + '入門サイト" title="'+ select.options[data.myData.lang].text +'入門サイトへ(別タブで開きます)"></a>');
            editor.setValue(data.myData.code);
            question = data.question;
            $("#problemStatement").html("<b>" + question.task + "</b>");
            humane.log("swap!"); // swap通知
        });

        // ゲーム終了イベント受信
        socket.on("server_to_everybody_end", function () {
            const sendLastData = {
                socketId: myData.socketId,
                name: myData.name,
                code: editor.getValue(),
                lang: myData.lang,
                question: question.task
            }
            socket.emit("client_to_server_lastCode", sendLastData);
            if (!alert("ゲーム終了")) {
                location.href = "/result";
            }
        });

        // 交換までのタイマー処理
        function swapTimerStart() {
            const timer = new easytimer.Timer();

            timer.start({ countdown: true, startValues: { minutes: 1 } });
            $(".countdown #swapTime").html(timer.getTimeValues().toString());

            timer.addEventListener('secondsUpdated', function (e) {
                $(".countdown #swapTime").html(timer.getTimeValues().toString());
            });

            timer.addEventListener("targetAchieved", function (e) {
                $("#swap").hide();
            });
        }

        // ゲームタイマー処理
        function timeLimitStart() {
            const timer = new easytimer.Timer();

            timer.start({ countdown: true, startValues: { hours: 1 } });
            $(".countdown #limitTime").html(timer.getTimeValues().toString());

            timer.addEventListener('secondsUpdated', function (e) {
                $(".countdown #limitTime").html(timer.getTimeValues().toString());
            });

            timer.addEventListener("targetAchieved", function (e) {
                $(".countdown #limitTime").html('ゲーム終了!');
            });
        }
    </script>
</body>

</html>