<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>Random Programming</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script type="text/javascript" src="/js/ace/ext-language_tools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.2.1/processing.min.js"></script>
    <script src="/js/func.js"></script>
    <script src="/js/easytimer.js"></script>
    <script src="js/humane.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1 id="codeh1">Random Programming</h1>
    <table>
        <tr>
            <td>
                <!--タイマー-->
                <div id="timer">
                    <p>コード交換まで</p>
                    <div class="countdown">
                        <div id="time1">00:00:10</div>
                    </div>
                    <p>ゲーム終了まで</p>
                    <div class="countdown">
                        <div id="time2">00:30:00</div>
                    </div>
                </div>
            </td>
            <td>
                <!--サーバから問題文のテキストを受信して表示する-->
                <div id="question">
                    <h3 style="color: #E65F5C">課題</h2>
                        <!--ここにサーバから受信した課題文を表示-->
                </div>
            </td>
        </tr>
    </table>
    <table height=320px>
        <tr>
            <td>
                <div id="member">
                    <p>===メンバー===</p>
                </div>
                <input type=button onclick="start()" value="START" id="start">
            </td>
            <td width=400px height=320px bgcolor=white>
                <canvas id="canvas0" width="320px" height="320px"></canvas>
            </td>
            <td width=600px>
                <div align=right>
                    <div id="editor" style="height: 320px"></div>
                    <input type=button onclick="run()" value="RUN">
                    <input type=button onclick="stop()" value="STOP">
                </div>
            </td>
        </tr>
    </table>


    <script type="text/javascript">
        // 課題文表示エリア非表示
        $("#question").hide();

        // aceエディター設定
        const editor = ace.edit('editor');
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue("new code here");

        // ソケット通信
        const socket = io.connect();
        let myData = ''; // 自分の名前,id,soketIdを保持

        // ソケット接続時処理、既に参加しているメンバーの表示(自分も含む)
        socket.on("server_to_client_member", function (data) {
            for (const member of data) {
                $("#member").append("<div>" + member.name + "</div>");
            };
            myData = data[data.length - 1];
        });

        // 参加メンバーの逐次表示イベント
        socket.on("server_to_client_join", function (data) {
            $("#member").append("<div>" + data.name + "</div>");
        });

        // スタートボタンクリック時処理
        function start() {
            socket.emit("client_to_server_start");
        };

        // サーバから全クライアントにゲームスタートイベント
        socket.on("start", function (data) {
            let start_element = document.getElementById("start");
            start_element.remove();
            // htmlに課題表示
            $("#question").append("<b>" + data + "</b>");
            $("#question").show();
            // タイマースタート
            timerStart();
        });

        // コード交換時間報告イベント
        socket.on("server_to_client_timenews", function () {
            myData.code = editor.getValue();
            socket.emit("client_to_server_code", myData);
        });

        // 他ユーザのコード受信&コード差し替え
        socket.on("server_to_client_exchange", function (data) {
            editor.setValue(data);
            humane.log("exchange!"); // 差し替え通知
        });

        // ゲーム終了イベント受信
        socket.on("server_to_client_end", function () {
            if (!alert("ゲーム終了")) {
                location.href = "/result";
            }
        });

        function timerStart() {
            const timer1 = new easytimer.Timer();
            const timer2 = new easytimer.Timer();

            timer1.start({ countdown: true, startValues: { seconds: 10 } });
            $(".countdown #time1").html(timer1.getTimeValues().toString());

            timer2.start({ countdown: true, startValues: { minutes: 30 } });
            $(".countdown #time2").html(timer2.getTimeValues().toString());

            timer1.addEventListener('secondsUpdated', function (e) {
                $(".countdown #time1").html(timer1.getTimeValues().toString());
            });

            timer2.addEventListener('secondsUpdated', function (e) {
                $(".countdown #time2").html(timer2.getTimeValues().toString());
            });

            timer1.addEventListener("targetAchieved", function (e) {
                timer1.start({ countdown: true, startValues: { seconds: 10 } });
                $(".countdown #time1").html(timer1.getTimeValues().toString()); // タイマー１はループ
            });

            timer2.addEventListener("targetAchieved", function (e) {
                $(".countdown .time2").html('ゲーム終了!');
            });
        }
    </script>
</body>

</html>