<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>Swap Coder</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.2.1/processing.min.js"></script>
    <script src="/js/func.js"></script>
    <script src="/js/easytimer.js"></script>
    <script src="/js/humane.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1 id="codeh1">Swap Coder</h1>
    <table>
        <tr>
            <td>
                <!--タイマー-->
                <div id="timer">
                    <p>コード交換まで</p>
                    <div class="countdown">
                        <div id="time1">00:00:10</div>
                    </div>
                    <p>ゲーム終了まで</p>
                    <div class="countdown">
                        <div id="time2">01:00:00</div>
                    </div>
                </div>
            </td>
            <td>
                <!--サーバから問題文のテキストを受信して表示する-->
                <div id="question">
                    <h3 style="color: #E65F5C">課題</h2>
                        <!--ここにサーバから受信した課題文を表示-->
                </div>
            </td>
        </tr>
    </table>
    <table height=320px>
        <tr>
            <td>
                <div id="member">
                    <p>===メンバー===</p>
                </div>
                <input type=button onclick="start()" value="START" id="start">
                <input type=button onclick="end()" value="END" id="end">
            </td>
            <td width=400px height=320px bgcolor=white>
                <p>input</p>
                <textarea height=100px id="input" bgcolor=gray></textarea>
                <p>output ※コンパイルに2秒程かかります。</p>
                <div style="white-space: pre-line" height=220px id="output" bgcolor=gray></div>
            </td>
            <!-- processing言語用
            <td width=400px height=320px bgcolor=white> 
                <canvas id="canvas0" width="320px" height="320px"></canvas>
            </td>-->
            <td width=600px>
                <div id="editor" style="height: 320px"></div>
                <div align=right>
                    <select name="language">
                        <option value="c_cpp">C</option>
                        <option value="c_cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option> <!--stdoutが表示されない-->
                        <option value="ruby">Ruby</option> <!--stdoutが表示されない-->
                        <option value="php">PHP</option> <!--stdoutが表示されない-->
                        <option value="golang">Go</option>
                        <option value="javascript">Java Script</option>
                    </select>
                    <input type=button onclick="run()" value="RUN">
                    <!--<input type=button onclick="stop()" value="STOP">--> <!--processing言語用-->
                </div>
            </td>
        </tr>
    </table>


    <script type="text/javascript">
        // 課題文表示エリア非表示
        $("#question").hide();

        // aceエディター設定
        const editor = ace.edit('editor');
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue("new code here");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        let select = document.querySelector('[name="language"]');
        select.onchange = event => {
            editor.getSession().setMode("ace/mode/" + select.value);
        };

        function lang_changeandlock(num) {
            let option = document.querySelectorAll('select[name=language] option');
            for (let i = 0; i < 8; i++) {
                if (num == i) {
                    option[i].selected = true;
                } else {
                    option[i].disabled = true;
                }
            }
        };

        function run() {
            const code = editor.getValue();
            const input = document.getElementById("input").value;

            compile(code, select.selectedIndex, input);
        };

        // ソケット通信
        const socket = io("/play");
        let myData = ''; // 自分の名前,id,socketId,言語,codeを保持

        // ソケット接続時処理、既に参加しているメンバーの表示(自分も含む)
        socket.on("server_to_client_member", function (data) {
            for (const member of data) {
                $("#member").append("<div>" + member.name + "</div>");
            };
            myData = data[data.length - 1];
        });

        // 参加メンバーの逐次表示イベント
        socket.on("server_to_client_join", function (data) {
            $("#member").append("<div>" + data.name + "</div>");
        });

        // スタートボタンクリック時処理
        function start() {
            socket.emit("client_to_server_start");
        };
        // エンドボタンクリック時処理
        function end() {
            socket.emit("client_to_server_end");
        };

        // サーバから全クライアントにゲームスタートイベント
        socket.on("start", function (data) {
            myData.lang = select.selectedIndex;
            lang_changeandlock(myData.lang);
            let start_element = document.getElementById("start");
            start_element.remove();
            // htmlに課題表示
            $("#question").append("<b>" + data + "</b>");
            $("#question").show();
            // タイマースタート
            timerStart();
        });

        // コード交換時間報告イベント
        socket.on("server_to_client_timenews", function () {
            myData.lang = select.selectedIndex;
            myData.code = editor.getValue();
            socket.emit("client_to_server_code", myData);
        });

        // 他ユーザのコード受信&コード差し替え
        socket.on("server_to_client_exchange", function (data) {
            lang_changeandlock(data.lang);
            editor.setValue(data.code);
            humane.log("swap!"); // 差し替え通知
        });

        // ゲーム終了イベント受信
        socket.on("server_to_client_end", function () {
            // myData.code = editor.getValue();
            socket.emit("client_to_server_result", editor.getValue());
            if (!alert("ゲーム終了")) {
                location.href = "/result";
            }
        });

        function timerStart() {
            const timer1 = new easytimer.Timer();
            const timer2 = new easytimer.Timer();

            timer1.start({ countdown: true, startValues: { seconds: 10 } });
            $(".countdown #time1").html(timer1.getTimeValues().toString());

            timer2.start({ countdown: true, startValues: { hours: 1 } });
            $(".countdown #time2").html(timer2.getTimeValues().toString());

            timer1.addEventListener('secondsUpdated', function (e) {
                $(".countdown #time1").html(timer1.getTimeValues().toString());
            });

            timer2.addEventListener('secondsUpdated', function (e) {
                $(".countdown #time2").html(timer2.getTimeValues().toString());
            });

            timer1.addEventListener("targetAchieved", function (e) {
                timer1.start({ countdown: true, startValues: { seconds: 10 } });
                $(".countdown #time1").html(timer1.getTimeValues().toString()); // タイマー１はループ
            });

            timer2.addEventListener("targetAchieved", function (e) {
                $(".countdown .time2").html('ゲーム終了!');
            });
        }
    </script>
</body>

</html>