<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Random Programming</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body bgcolor=#f0ffff>
    <div class="container" align="center">
        <h1>Random Programming</h1>
        <form class="form-inline" action="/code" method="post">
            <div class="form-group">
                <label class="nameLabel" for="name">名前：</label>
                <input type="text" class="form-control" name="name">
            </div>
            <button type="submit" class="btn btn-primary" id="sendButton">参加</button>
        </form>
    </div>
</body>

</html>