<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Swap Coder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <h1 id="indexh1">Swap Coder</h1>
        <form class="form-inline" action="/code" method="post">
            <div class="form-group">
                <!--<label class="language">プログラミング言語</label>
                <select id="language">
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="php">PHP</option>
                </select>-->
                <label class="nameLabel" for="name">名前：</label>
                <input type="text" class="form-control" name="name">
            </div>
            <button type="submit" class="btn btn-primary" id="sendButton">参加</button>
        </form>
    </div>
</body>

</html>